*, *:before, *:after {
    box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	outline: none;
}

html {
	font: 100%/1.5 -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, "helvetica neue", ubuntu, roboto, noto, "segoe ui", arial, sans-serif;//"Circular Std", Segoe UI, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body {
	color: var(--near-white);
	background: var(--still-dark);
}

a {
	text-decoration: none;
}

.layout-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.layout-main {
	display: flex;
	min-height: calc(100vh - 4rem);
	flex-direction: row;
}

.layout-sidebar {
	flex: 1;
	min-width: 16rem;
	max-width: 16rem;
	background: var(--still-dark);
	border-right: 1px solid var(--much-dark);
}

.layout-content {
	overflow: auto;
	flex: 1;
	padding: 1.5rem 2rem;
}

.layout-footer {
	width: 100%;
	height: 4rem;
	padding: 1rem;
	background-color: var(--much-dark);
	box-shadow: 0px -1px 4px rgba(0,0,0,0.1);
}

.left-nav {
	padding: 1.5rem 1rem;
}

.left-nav li {
	padding: 0.5rem 1rem 0.5rem 3rem;
	margin-bottom: 0.5rem;
	line-height: 1rem;
	font-weight: 600;
	font-size: 0.75rem;
	text-transform: uppercase;
	color: var(--much-gray);
	border-radius: 2px;
}

.left-nav li.unlocked:hover:not(.active) {
	background: var(--dark);
}

.left-nav li.unlocked:not(.active) {
	cursor: pointer;
	color: var(--gray);
}

.left-nav li.active {
	color: var(--near-white);
	background: var(--red);
}