*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    outline: none;
}

body {
    font: 100%/1 -apple-system, BlinkMacSystemFont, "avenir next", avenir, helvetica, "helvetica neue", ubuntu, roboto, noto, "segoe ui", arial, sans-serif;//"Circular Std", Segoe UI, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: var(--near-white);
    background: var(--still-dark);
}

a {
    text-decoration: none;
    color: var(--red);
}

a:hover {
    text-decoration: underline;
}

.layout-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.layout-sidebar {
    position: relative;
    flex: 1;
    min-width: 4.5rem;
    max-width: 4.5rem; 
    background: var(--much-dark);
    border-right: 1px solid rgba(0,0,0,0.08);
}

.layout-main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.layout-header {
    width: 100%;
    height: 4rem;
    padding: 1rem;
    background-color: var(--still-dark);
    border-bottom: 1px solid rgba(255,255,255,0.08);
}

.layout-content {
    flex: 1;
    overflow: auto;
    padding: 2rem;
}

.left-title {
    display: flex;
    align-items: center;
    height: 4rem;
    background: var(--much-dark);
    border-bottom: 1px solid rgba(255,255,255,0.08);
}

.left-title h1 {
    display: none;
}

.left-title .gui-version {
    width: 2.5rem;
    margin-left: 1rem;
    text-align: center;
}

.left-nav {
    position: absolute;
    z-index: 9999;
    top: 6rem;
    left: 1rem;
}

.left-nav li {
    position: relative;
    display: block;
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem;
    min-height: 2rem;
    min-width: 2.5rem;
    width: 2.5rem;
    line-height: 1rem;
    font-weight: 600;
    font-size: 0.75rem;
    color: var(--much-gray);
    border-radius: 2px;
    text-transform: uppercase;
    white-space: nowrap;
}

.left-nav li span {
    display: none;
}

.left-nav li.unlocked:hover:not(.active) {
    background: var(--dark);
}

.left-nav li.unlocked:not(.active) {
    cursor: pointer;
    color: var(--gray);
}

.left-nav li.active {
    color: var(--near-white);
    background: var(--red);
}

.left-nav li.active:hover,
.left-nav li.unlocked:hover {
    width: auto;
    padding: 0.5rem 1rem 0.5rem 2.5rem;
}

.left-nav li.active:hover span,
.left-nav li.unlocked:hover span {
    display: inline;
}

.left-nav li svg.icon {
    position: absolute;
    top: 0.25rem;
    left: 0.5rem;
}

.left-nav li svg.icon path,
.left-nav li svg.icon polygon {
    fill: var(--much-gray);
}

.left-nav li.unlocked svg.icon path,
.left-nav li.unlocked svg.icon polygon {
    fill: var(--gray);
}

.left-nav li.active svg.icon path,
.left-nav li.active svg.icon polygon {
    fill: var(--near-white);
}

@media only screen and (min-width: 80rem) {
    .layout-sidebar {
        min-width: 16rem;
        max-width: 16rem;
    }

    .left-title h1 {
        display: inline-block;
    }

    .left-title .gui-version {
        margin: 0;
        width: auto;
    }

    .left-nav li {
        width: 14rem;
    }

    .left-nav li,
    .left-nav li.active:hover,
    .left-nav li.unlocked:hover {
        padding: 0.5rem 1rem 0.5rem 3rem;
    }

    .left-nav li span {
        display: inline;
    }

    .left-nav li svg.icon {
        left: 1rem;
    }
}

select {
    display: inline-block;
    -webkit-appearance: none;
    border-radius: 2px;
    font-size: 0.875rem;
    line-height: 1rem;
    color: var(--near-white);
    padding: 0.5rem 1.5rem 0.5rem 0.5rem;
    background: url(../images/arrow-down-normal.svg) no-repeat right center;
    background-color: var(--less-dark);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}

select:disabled {
    color: var(--much-gray);
    background: url(../images/arrow-down-disabled.svg) no-repeat right center;
    background-color: var(--dark);
}

label {
    font-size: 0.875rem;
    color: var(--gray);
}

input[type="text"],
input[type="number"] {
    display: inline-block;
    -webkit-appearance: none;
    background: var(--less-dark);
    font-size: 0.875rem;
    line-height: 1rem;
    border-radius: 2px;
    color: var(--white);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}

input[type="number"]:disabled {
    color: var(--much-gray);
}

input[type="number"]:disabled::-webkit-inner-spin-button,
input[type="number"]:disabled::-webkit-outer-spin-button {
    opacity: 0;
}


input[type="text"] {
    padding: 0.5rem;
    min-width: 2rem;
    width: 5rem;
}

input:placeholder {
    color: var(--much-gray);
}

input[type="number"] {
    position: relative;
    width: 100%;
    min-width: 2rem;
    max-width: 6rem;
    text-align: right;
    padding: 0.5rem 1.5rem 0.5rem 0.5rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 1rem;
    height: 2rem;
    opacity: 1;
    border-left: 1px solid rgba(255,255,255,0.1);
    background: url(../images/input-number.svg) no-repeat;
}

input[type="checkbox"] {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

input[type="checkbox"] + label {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 3.5rem;
    height: 1.75rem;
    margin: 0.125rem 0;
    border-radius: 1rem;
    background: var(--less-dark);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}

input[type="checkbox"]:disabled {

}

input[type="checkbox"] + label:before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    left: 0.125rem;
    top: 0.125rem;
    background-color: var(--dark);
    border-radius: 1rem;
    transition: margin 0.2s, background 0.2s;
}

input[type="checkbox"]:checked + label:before {
    margin-left: 1.75rem;
    background-color: green;
}

input[type="checkbox"]:hover + label:before,
input[type="checkbox"]:hover + label:after {
    background: var(--much-gray);
}

input[type="checkbox"]:checked + label:before {
    background: var(--near-white);
}

.chart-container {
    width: 50%;
    display: inline-block;
    position: relative;
}

.chart-container:after {
    padding-top: 100%;
    display: block;
    content: "";
}

.chart-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: purple;
}