
.configuration .mixer {
    float: left;
}
.configuration .mixerPreview {
    margin-left: 140px;
    width: 150px;
    height: 100px;
}
.configuration select {
    height: 22px;
    border: 1px solid silver;
}
.configuration input[type="text"] {
    width: 70px;
    height: 20px;
    line-height: 20px;
    text-align: right;
    border: 1px solid silver;
}
.configuration dl.general-settings {
	margin-bottom: 10px;
}
.configuration dt {
    float: left;
    width: 100px;
    height: 27px;
    line-height: 24px;
}
.configuration dd {
    margin-left: 100px;
    height: 27px;
}
.configuration dd input[type="checkbox"] {
    position: relative;
    top: 3px;
    margin-left: 30px;
}
.configuration .pid_rates {
    border-collapse: collapse;
}
.configuration .pid_rates tr {
    height: 25px;
}
.configuration .pid_rates th {
    width: 60px;
    padding-right: 5px;
    text-align: center;
}
.configuration .pid_rates td {
}
.configuration .pid_rates input {
    width: 60px;
}
.configuration .pid_rates .name {
    width: 40px;
}
.configuration .aux_settings dt {
    width: 60px;
}
.configuration .aux_settings dd {
    margin-left: 60px;
}
#save.saveAct {
    background-color: #830a0a;
}

#BoardRotation {
    width: 72px;
    height: 22px;
}

.minicolors input[type=hidden] + .minicolors-swatch {
    position: relative;
    cursor: pointer;
    top: -1px;
    width: 18px;
    height: 18px;
}

.configuration .rates tr > *:nth-child(1) {
	display: none;	
	width: 50px;
}

#userSel {
	width: 200px;
}

.configuration .pids tr > *:nth-child(1) {
	width: 50px;
}

.configuration .levels tr > *:nth-child(1) {
	width: 50px;
}


.tricopter {
	display: none;
}

.configuration dt.lap-timer {
	width: 150px;
}

.configuration select.lap-timer-transponder-id {
	width: 40px;
	margin-left: 6px;
}

.configuration dt.ssid-title {
	width: 140px;
}

#lapTimerTypeAndInterface {
	width: 140px;
}

.configuration {
	padding-bottom: 50px;
}


#shareButton {
	width: 60px;
	text-align: center;
	cursor:pointer; 
	display:inline-block; 
	background-color:#333; 
	height:18px; 
	padding-top:4px;
}

#userSel {
	display: none;
}
