
.data_output .other dl {
}
.data_output .other dl dt {
    float: left;
    width: 50px;
    line-height: 20px;
    text-align: right;
}
.data_output .other dl dd {
    margin-left: 55px;
    line-height: 20px;
    font-weight: bold;
}
.data_output .other a {
    margin: 10px 0 0 0;
    display: block;
    color: white;
    padding: 0 10px 0 10px;
    height: 20px;
    line-height: 20px;
    background-color: #830a0a;
    text-align: center;
}
.data_output .other a:hover {
    background-color: #d01414;
}
.data_output .bars {
    float: left;
    width: 100%;
    font-weight: bold;
}
.data_output .bars ul {
    margin-bottom: 5px;
    clear: left;
}
.data_output .bars li {
    float: left;
    height: 22px;
    line-height: 20px;
}
.data_output .bars .name {
    padding: 0 10px 0 0;
    width: 40px;
    text-align: right;
}
.data_output .bars .meter {
    width: calc(100% - 80px);
}
.data_output .bars .motor {
    width: calc(100% - 80px);
}
.data_output .bars .meter-bar {
    position: relative;
    margin-top: 2px;
    width: 100%;
    height: 15px;
    border: 1px solid silver;
    background-color: #f4f4f4;
}
.data_output .bars .meter-bar .label {
    position: absolute;
    width: 50px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    color: #474747;
}
.data_output .bars .meter-bar .fill {
    position: relative;
    overflow: hidden;
    width: 50%;
    height: 15px;
    background-color: #830a0a;
}
.data_output .bars .meter-bar .fill .label {
    color: white;
}
.data_output .plot dl {
    float: left;
}
.data_output .plot dl dt {
    line-height: 32px;
    float: left;
    width: 100px;
    text-align: right;
}
.data_output .plot dl dd {
    line-height: 32px;
    margin-left: 105px;
    font-weight: bold;
}
.data_output .plot dl dd:nth-of-type(1) {
    color: #00A8F0;
}
.data_output .plot dl dd:nth-of-type(2) {
    color: #C0D800;
}
.data_output .plot dl dd:nth-of-type(3) {
    color: #f8921a;
}
.data_output .plot dl dd:nth-of-type(4) {
    color: #f02525;
}
.data_output .plot dl dd:nth-of-type(5) {
    color: #9440ED;
}
.data_output .plot dl dd:nth-of-type(6) {
    color: #147A66;
}
.data_output .plot {
    margin: 10px 0 0 0;
}
.data_output #graph {
    float: right;
    background-color: white;
}

.data_output {
	margin-bottom: 50px;
}

.data_output .motor-test {
	margin-left: 10px;
}

.data_output .motor-test-button {
    margin: 10px 0 0 0;
    color: white;
    padding: 2px 10px 0 10px;
    height: 24px;
    line-height: 20px;
    background-color: #830a0a;
    font-size: 16px;
}
.data_output .motor-test-button a:hover {
    background-color: #d01414;
}

.motor-test-disclaimer {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-image: url("../images/warning_stripe.png");
}

.motor-test-disclaimer-inner {
	width: calc(100% - 50px);
	height: calc(100% - 50px);
	margin: 25px;
	background-color: black;
    text-align: center;
}

.motor-test-disclaimer-inner .warning1 {
    font-size: 30px;
    color: #d01414;
    padding-top: 30px;
    text-align: center;
}

.motor-test-disclaimer-inner .warning2 {
    font-size: 20px;
    color: #ffffff;
    padding-top: 30px;
    text-align: center;
}

.motor-test-disclaimer-inner .warning-button {
  	margin: 40px 0 0 0;
    color: white;
    padding: 10px 10px 10px 10px;
    height: 24px;
    line-height: 24px;
    background-color: #830a0a;
    font-size: 16px;
}

.motor-test-disclaimer-inner .warning-button:hover {
    background-color: #d01414;
}

.data_output .otherValues {
	width: 100%;
}

.data_output .otherValues td {
	width: 25%;
	text-align: right;
}

		

