.flasher .header {
	margin: 0 0 10px 0;
    padding: 0 5px 0 0;
    height: 30px;
    border-bottom: 2px solid #ad0d0d;
}

.flasher .flash {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    padding: 0 10px 0 10px;
    height: 20px;
    line-height: 20px;
    background-color: #339933;
}
.flasher .flashAct {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    padding: 0 10px 0 10px;
    height: 20px;
    line-height: 20px;
    background-color: #830a0a;
}

.flasher .disabled {
	background-color: #666;	
	cursor: wait;
}

.flasher p {
	margin-bottom: 20px;
}

.flasher .hidden {
	display: none;
}