
.rates .receiver {
    float: left;
    width: 100%;
}
.rates .bars {
    float: left;
    width: 100%;
    font-weight: bold;
}
.rates .bars ul {
    margin-bottom: 5px;
    clear: left;
}
.rates .bars li {
    float: left;
    height: 22px;
    line-height: 20px;
}
.rates .bars .name {
    padding: 0 10px 0 0;
    width: 40px;
    text-align: right;
}
.rates .bars .meter {
    width: calc(100% - 50px);
}
.rates .bars .meter-bar {
    position: relative;
    margin-top: 2px;
    width: 100%;
    height: 15px;
    border: 1px solid silver;
    background-color: #f4f4f4;
}
.rates .bars .meter-bar .label {
    position: absolute;
    width: 50px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    color: #474747;
}
.rates .bars .meter-bar .fill {
    position: relative;
    overflow: hidden;
    width: 50%;
    height: 15px;
    background-color: #830a0a;
}
.rates .bars .meter-bar .fill .label {
    color: white;
}
.rates .rc_rates {
	border-collapse: collapse;
}
.rates .rc_rates tr {
    height: 25px;
}
.rates .rc_rates th {
    width: 60px;
    padding-right: 5px;
    text-align: center;
}
.rates .rc_rates td {
}
.rates .rc_rates input {
    width: 60px;
}
.rates .rc_rates .name {
    padding: 0 10px 0 0;
    width: 40px;
    text-align: right;
    font-weight: bold;
}
.rates .rc_rates input[type="text"] {
    width: 60px;
    height: 20px;
    line-height: 20px;
    text-align: right;
    border: 1px solid silver;
}
.rates .rc_chart {
    width: 200px;
    height: 200px;
	display: inline-block;    
}