
.tpa .bars {
    float: left;
    width: 100%;
    font-weight: bold;
}
.tpa .bars ul {
    margin-bottom: 5px;
    clear: left;
}
.tpa .bars li {
    float: left;
    height: 22px;
    line-height: 20px;
}
.tpa .bars .name {
    padding: 0 10px 0 0;
    width: 40px;
    text-align: right;
}
.tpa .bars .meter {
    width: calc(100% - 50px);
}
.tpa .bars .meter-bar {
    position: relative;
    margin-top: 2px;
    width: 100%;
    height: 15px;
    border: 1px solid silver;
    background-color: #f4f4f4;
}
.tpa .bars .meter-bar .label {
    position: absolute;
    width: 50px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    color: #474747;
}
.tpa .bars .meter-bar .fill {
    position: relative;
    overflow: hidden;
    width: 50%;
    height: 15px;
    background-color: #830a0a;
}
.tpa .bars .meter-bar .fill .label {
    color: white;
}
.tpa .pids {
	border-collapse: collapse;
}
.tpa .pids tr {
    height: 25px;
}
.tpa .pids th {
    width: 60px;
    padding-right: 5px;
    text-align: center;
}
.tpa .pids td {
}
.tpa .pids input {
    width: 60px;
}
.tpa .pids .name {
    padding: 0 10px 0 0;
    width: 40px;
    text-align: right;
    font-weight: bold;
}
.tpa .pids input[type="text"] {
    width: 60px;
    height: 20px;
    line-height: 20px;
    text-align: right;
    border: 1px solid silver;
}

.tpa .tpa_chart {
    width: 58%;
    height: 160px;
	display: inline-block;    
}

.cpid {
	width: 56px;
    height: 20px;
    line-height: 23px;
    text-align: right;
    border: 1px solid silver;
    background-color: #f1f1f1;
    color: black;
    padding-right: 4px;
    font-size: 11px;
}

.tpa_influence {
	width: 50%;
	float: left;
}

.battery_influence {
	width: 50%;
	float: right;
}

#simulatedVoltage {
	width: 60px;
	height: 24px;
}